@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
a:visited {
  color: black;
}

body {
  color: black;
  font-family: 'Arial';
}

::selection {
  background: #fff6ba;
}

#span {
  font-weight: medium;
  font-size: 20px;
}

.navbar {
  float: left;
}

.navbar .nav-item {
  color: red;
}

.navbar .menu {
  font-weight: medium;
  font-size: 12px;
  padding-right: 20px;
}

.navbar .menu .dropdown-item {
  background-color: transparent;
  color: black;
}

.navbar .nav-item .nav-link {
  color: black !important;
}

.navbar .navbar-brand {
  font-weight: bold;
}

.meat {
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 20px;
}

.meat a {
  color: black;
  text-decoration: underline;
}

.meat #title-card {
  font-size: 20px;
}

.meat #image {
  width: 100%;
}

.meat #socials-block {
  text-align: center;
  padding-top: 20px;
}

.meat #socials-block #socials {
  color: black;
  text-decoration: underline;
  padding: 5px;
}

.meat #socials-block #socials:hover {
  text-decoration: none;
  color: #DB5C53;
}

.meat #work-link {
  color: black;
  text-decoration: none;
}

.meat #work-link:hover {
  text-decoration: underline;
  color: #F47D96;
}

.meat #highlight {
  color: #5890e3;
}

.meat #desc {
  padding-bottom: 40px;
  font-size: 13px;
}

.meat #desc a {
  color: black;
  text-decoration: underline;
}

#selected {
  color: #DB5C53;
}

#front-page-blurb {
  font-size: 13px;
}

#caro-pic {
  width: 50%;
}

.photo-grid {
  column-count: 3;
  column-gap: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.photo-grid img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  break-inside: avoid;
}
