body {
    background-color: #EEDA8C;
}

.meat {
    font-size: 22px;
    #link {
        padding-bottom: 10px;
        color: #4899a3;
    }
    #link:hover {
        text-decoration: none;
        color: #F47D96;
    }
    #footnote {
        font-size: 12px;
        color: #c5918f;
    }
}